*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.cardHolder{
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  width: 80vw; /*14vw x5 card & 10 margins 1vw*/
}

.card{
  background-color: #322424;
  border-radius: 12px;

  width: 14vw;
  height: 14vw;
  margin: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.addCard{
  background-color: #322424;
  color: aliceblue;
  transition: color 0.3s, background-color 0.3s;
}
.addCard:hover{
  color:#322424;
  background-color: aliceblue;
}